.list {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    list-style: none;
    margin-top: 5px;
    @include tablet_only{
        padding-left: 0px;
        align-items: center;
    }
    &__detail {
        background: $grey;
        margin: 20px;
        margin-bottom: 0;
        display: flex;
        justify-content: flex-start;
        padding: 30px;
        border-radius: 25px;
        align-items: center;
        @include box-shadow(5px, 5px, 5px, darken($grey, 10));
        @include tablet_only {
            width: 45vw;
        }
        &:hover{
            background: lighten($primary, 30);
            .list__icon{
                color:$primary;

            }
        }
        &--puce {
            position: absolute;
            transform: translate(-40px, 0px);
            display: flex;
            justify-content: center;
            align-items: center;
            width: 25px;
            height: 25px;
            font-size: 0.55rem;
            margin-left: 0px;
            border-radius: 50%;
            background: $primary;
            color: white;
        }
    }
    &__paragraphe {
        margin: 0;
        padding-left: 30px;
        font-weight: bold;
    }
    &__icon {
        padding-left: 15px;
        color: darken($grey, 50);
    }
}