/*********************** composant du loader spinner ********/

#body {
  animation: stop 3s;
}
/**** arriere plus dure plus longtemps pour donner un effet ***/
.loader-wrapper{
  /****** arriére plan et position du loader ***/
    display: flex;
    justify-content: center;
    align-items: center;
    animation: back 3s linear;
    
}
#loader {
  opacity: 0;
  margin: 0;
  border-radius: 50%;
  animation: spin 1500ms linear;
}

@keyframes stop {
/***** stope le scroll de la page ***/
  0% {
    position: fixed;
    overflow: hidden;
  }
  70% {
    position: fixed;
    overflow: hidden;
  }
}

@keyframes back {
/***** prend toute la hauteur de la page en hauteur ***/
  0% {
    height: 100vh;
  }
}


@keyframes spin {
  /***** animation pour les border ****/
  0% { 
    opacity: 1;
    width: 120px;
    height: 120px;
    border: 16px solid #f3f3f3;
    border-top: 16px solid $primary;
    transform: rotate(0deg); 
  }
  100% { 
    width: 120px;
    height: 120px;
    border: 16px solid #f3f3f3;
    border-top: 16px solid $primary;
    transform: rotate(360deg);
   }
}


