/************************ partie qui concerne les éléments généraux du site web *************/
/**************** création des variables des couleur princicpale du site *********/


$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$grey: #F6F6F6;
$footer: #353535;


/************** breakpoint retenue pour le responsive design *************/

$breakpoints: (
    desktopXXL : 1800px,
    desktopXL : 1524px,
    desktopL: 1324px,
    desktop: 1024px,
    desktopS: 950px,
    desktopXS: 825px,
    tablet : 769px,
    tabletL : 700px,
    tabletM : 600px,
    tabletS : 500px,
    mobile : 426px,
    mobileL : 406px,
    mobileM : 370px,
    mobileS : 320px,
);


/********************** taille des police *********/

$font-size: (
    logo: 1.7rem,
    title: 1.3rem,
    body: 1.1rem,
    icon: 2rem,
    description: 0.8rem,
    descriptionDesktop : 0.7rem,
    titleMenu: 1rem,
    );




/********************* base pour tout les elements du site *************/

* {
    box-sizing: border-box;
    object-fit: cover;
}

/************** mise en form basique des liens *********/
a {
    text-decoration: none;
    color: black;
}

/**************** enleve les marge du body *********/

body {
    margin: 0;
    padding: 0;
}


/****************** spécifité pour les titre h3 **********/

$marginh3: (
    left: 25px,
);

h3 {
    margin-left: map-get($marginh3, left);
    margin-bottom: 0;
}


/******************* mise en place de la forme général des menus *****/

#titreRestaurant{
    margin-bottom: 30px;
    @include tablet_only {
        padding-right: 70vw;
    }
    @include desktop_only{
        padding-right: 70vw;
    }
}

.grid__desktop{
    @include desktop_only {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template: 
                    "presentation fonctionnement"
                    "restaurant restaurant";
    }

}

.grid__desktop-only-choice {
    @include desktop_only {
        display: grid;
        grid-template-columns: 33% 33% 33% !important;
        grid-template-areas: 
                        "entrees plats desserts";
        }
    // @include tablet_only {
    //     display: block;
    // }
    // @include mobile_only {
    //     display: block;
    // }
}

#entrees {
    grid-area: entrees;
}

#plats {
    grid-area: plats;
}

#desserts {
    grid-area: desserts;
}