.form {
    background-color: darken($grey, 5);
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: darken($grey, 10) solid 1px;
    &__text{
        display: flex;
        justify-content: center;
        align-items: center;
        &--color{
            border: none;
            background-color: darken($grey, 5);
            height: 5vh;
            &::placeholder{
            font-weight: bold;
            font-size: map-get($font-size, body);
            color: black;
            @include mobileS_only {
                width: 165px;
            }
        } 
        }
        
    }
    &__label{
        margin-left: 70px;
        margin-right: 15px;
    }
        

}