.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    &__arrow{
        position: absolute;
        left: 25px;
        top: 23px;
    }
    &__title{
        font-size: map-get($font-size , logo);
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        margin-top: 10px;
        font-family: map-get($police, title )
    }
};